In [ ]:
hive

### Create Database

In [ ]:
hive> show databases;

In [ ]:
hive> create database demo;

In [ ]:
hive> create a database if not exists demo;

In [ ]:
hive>create the database demo  
        >WITH DBPROPERTIES ('creator' = 'Gaurav Chawla', 'date' = '2019-06-03');

In [ ]:
hive> describe database extended demo;

### Drop Database

In [ ]:
hive> drop database if exists demo;

In [ ]:
hive> drop database if exists demo cascade;

### Create Table

In [ ]:
hive> create table demo.employee (Id int, Name string , Salary float)  
row format delimited  
fields terminated by ',' ;

In [ ]:
hive> describe demo.employee

In [ ]:
hive> create table if not exists demo.employee (Id int, Name string , Salary float)  
row format delimited  
fields terminated by ',' ;

In [ ]:
hive> create table demo.new_employee (Id int comment 'Employee Id', Name string comment 'Employee Name', Salary float comment 'Employee Salary')  
comment 'Table Description'  
TBLProperties ('creator'='Gaurav Chawla', 'created_at' = '2019-06-06 11:00:00');

In [ ]:
hive> describe new_employee;

In [ ]:
hive> create table if not exists demo.copy_employee  
like demo.employee;

In [ ]:
hdfs dfs -mkdir /HiveDirectory  

hdfs dfs -put hive/emp_details /HiveDirectory  

hive> create external table emplist (Id int, Name string , Salary float)  
row format delimited  
 fields terminated by ','   
location '/HiveDirectory';

### Load Data

In [ ]:
load data local inpath '/home/codegyani/hive/emp_details' into table demo.employee;

In [ ]:
select * from demo.employee;

In [ ]:
load data local inpath '/home/codegyani/hive/emp_details1' into table demo.employee;

In [ ]:
select * from demo.employee

### Drop Table

In [ ]:
hive> show databases;

In [ ]:
hive> use demo;

In [ ]:
hive> show tables;

In [ ]:
hive> drop table new_employee;

In [ ]:
hive> show tables;

### Alter Table

In [ ]:
Alter table old_table_name rename to new_table_name;

In [ ]:
Alter table emp rename to employee_data;

In [ ]:
Alter table table_name add columns(column_name datatype);

In [ ]:
Alter table employee_data add columns (age int);

In [ ]:
Alter table table_name change old_column_name new_column_name  datatype;

In [ ]:
Alter table employee_data change name first_name string;

In [ ]:
alter table employee_data replace columns( id string, first_name string, age int);